{% extends "layouts/sub-navigation.njk" %}

{% block pageTitle %}Home - GDS Design System | GOV.UK One Login{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ appProseScope(content) if content }}
    </div>
  </div>
{% endblock %}
