{% extends "layouts/base.njk" %}

{% block headIcons %}
  <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico">
  <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml">
  <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="#1d70b8">
  <link rel="apple-touch-icon" href="/assets/images/govuk-icon-180.png">
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
