---
layout: page
title: Components
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p><a href="#" class="govuk-link">Progress button</a></p>
    <p><a href="#" class="govuk-link">Component name 2</a></p>
    <p><a href="#" class="govuk-link">Component name 3</a></p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p>Components are reusable parts of a user interface used across GOV.UK One Login. Individual components can be used in multiple different patterns, pages and context.</p>
    <p>All of the components in this section are supported by written guidance and contain coded examples where possible.</p>
  </div>
</div>