---
layout: base.njk
title: Home
---
<h1 class="govuk-heading-xl">Welcome to the docs</h1>
<p class="govuk-body">This is the main page.</p>
<a href="/about" class="govuk-link">Go to the about page</a>

