---
layout: page
title: Patterns
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p><a href="/section-start-page/" class="govuk-link">Section start page</a></p>
    <p><a href="#" class="govuk-link">Pattern name 2</a></p>
    <p><a href="#" class="govuk-link">Pattern name 3</a></p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p>Patterns are best practice design solutions for specific user-focused tasks and page types. They include examples of successful approaches but are flexible and don’t prescribe exact design solutions.</p>
    <p>Patterns often use one or more components and explain how to adapt them to the context.</p>
    <p>All of the patterns in this section are supported by written guidance and contain coded examples where possible.</p>
  </div>
</div>